@font-face {
    font-family: 'Graphik';
    src: url('/fonts/GraphikRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikExtralight';
    src: url('/fonts/GraphikExtralight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikBold';
    src: url('/fonts/GraphikBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikMedium';
    src: url('/fonts/GraphikMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: url('/img/Rectangle_9.png') center top no-repeat, white;
    background-size: 100% 930px, auto;
    font-family: 'Graphik', sans-serif;
}

textarea,
input {
    font-family: 'Graphik', sans-serif;
    color: #18171D;
}

button {
    background-color: #2091F9;
    color: white;
    border: 1px;
    border-radius: 35px;
    text-align: center;
    font-size: 20px;
    font-family: 'GraphikExtralight', sans-serif;
}

.button-blue:hover {
    background-color: white;
    color: #2091F9;
    border: 1px solid #2091F9;
    font-family: 'Graphik', sans-serif;
}

h1 {
    font-size: 74px;
    line-height: 84px;
    font-family: 'GraphikBold', sans-serif;
}

h2 {
    font-size: 48px;
    line-height: 55px;
    color: #252B42;
    font-family: 'GraphikExtralight', sans-serif;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    color: #252B42;
    margin: 10px auto;
    font-family: 'GraphikBold', sans-serif;
}

h4 {
    font-size: 28px;
    line-height: 40px;
    font-family: 'GraphikExtralight', sans-serif;
}

h5 {
    font-size: 16px;
    line-height: 23px;
}

h6 {
    font-size: 16px;
    color: #374754;
    margin: 0;
    font-family: 'GraphikExtralight', sans-serif;
}

p {
    font-size: 18px;
    line-height: 25px;
}

a {
    font-size: 15px;
    line-height: 28px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #2091F9;
}

.pricing-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 470px;
    padding: 40px 0;
    margin-right: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.pricing-div-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2091F9;
    padding: 80px 0;
    width: 335px;
    height: 470px;
    margin-right: 30px;
    color: white;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}